body{
    margin: 0;
}

.nav{
    background-color: blueviolet;
    color: white;
}

.container{
    max-width: 1000px;

}

.container{
    display: inline-block;
}

.list > div{
    display: inline-block;
}